*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0 30px;

}

.sfirst
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.ssecond
{
    display: flex;
    gap: 20px;

}
.sthird
{
    display: flex;
    gap: 15px;
    margin-left: -120px;
}

.voicelogo
{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    
}

.createbtn
{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: fit-content;
    padding: 20px;
}

.notificationbtn
{
    display: flex;
    align-items: center;
}

.notificationbtn i {
    font-size: 1.5rem;   /* Increase icon size */
}


.searchinput
{
    height: 40px;
    border:1px solid rgb(220, 220, 220);
    width: 550px;
    border-radius: 50px 0 0 50px;
    padding: 20px;
}

.searchbtn
{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0px 50px 50px 0px;
    height: 41px;
    width: 50px;
    background-color: none;
    margin: -5px;

}

.profile
{
    display: flex;
    align-items: center;
}


main
{
    display: flex;
}

td
{
    height: 70px;
    width: 60px;
    /* border: 1px solid rgb(220, 220, 220); */
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    gap: 5px;
    
}
table
{
    margin-top: -10px;
}

td:hover
{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.sidetxt
{
    font-size: 0.8rem;
    text-align: center;

}

.fa-house, .fa-clapperboard, .fa-bell, .fa-user-circle, .fa-download
{
    font-size: 1.2rem;
    color: rgb(100, 100, 100);
}

.fa-bars
{
    font-size: 1.3rem;
}

tr
{
   margin: 20px;
}

.uppertxtlist
{
    width: fit-content;
    padding: 12px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    height: 30px;
    margin: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    

}
.morelist
{
    width: fit-content;
    padding: 12px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    height: 30px;
    margin: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large; 

}
.fisrtlist
{
    width: fit-content;
    padding: 12px;
    background-color: black;
    border-radius: 8px;
    height: 30px;
    margin: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    

}

.uppertxtlist:hover, .morelist:hover
{
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

.upperheadlist {
    display: flex;
    flex-direction: row;
    align-items: center;
}