*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background: #fff;
}

.sfirst
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.ssecond
{
    display: flex;
    gap: 20px;

}
.sthird
{
    display: flex;
    gap: 15px;
    margin-left: -120px;
}

.voicelogo
{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    
}

.createbtn
{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: fit-content;
    padding: 20px;
}

.notificationbtn
{
    display: flex;
    align-items: center;
}

.notificationbtn i {
    font-size: 1.5rem;
}


.searchinput
{
    height: 40px;
    border:1px solid rgb(220, 220, 220);
    width: 550px;
    border-radius: 50px 0 0 50px;
    padding: 20px;
}

.searchbtn
{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0px 50px 50px 0px;
    height: 41px;
    width: 50px;
    background-color: none;
    margin: -5px;

}

.profile
{
    display: flex;
    align-items: center;
}


main
{
    display: block;
}

td
{
    height: 70px;
    width: 60px;
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
    
}
table
{
    margin-top: -10px;
}

td:hover
{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.sidetxt
{
    font-size: 0.8rem;
    text-align: center;

}

.fa-house, .fa-clapperboard, .fa-bell, .fa-user-circle, .fa-download
{
    font-size: 1.1rem;
    color: rgb(100, 100, 100);
}

.fa-bars
{
    font-size: 1.3rem;
}

tr
{
   margin: 20px;
}

.uppertxtlist
{
    width: fit-content;
    padding: 12px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    height: 30px;
    margin: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    
    

}
.morelist
{
    width: fit-content;
    padding: 12px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    height: 30px;
    margin: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large; 

}
.fisrtlist
{
    width: fit-content;
    padding: 12px;
    background-color: black;
    border-radius: 8px;
    height: 30px;
    margin: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    

}

.uppertxtlist:hover, .morelist:hover
{
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

.upperheadlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 55px; 
    left: 90px; 
    width: calc(100vw - 90px);
    background: #fff;
    z-index: 950;
    padding: 10px 0;
}

.leftlist {
    position: fixed;
    top: 90px;
    left: 0;
    height: calc(100vh - 90px);
    width: 90px;
    background: #fff;
    z-index: 900;
    overflow-y: auto;
}

.middlepart {
    margin-left: 90px; /* same as .leftlist width */
    margin-top: 150px; /* same as header height */
    width: calc(100vw - 90px);
}

.videosection
{
    /* margin-top: 100px; */
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: calc(100vh - 90px - 60px);
    overflow-y: auto;
    padding-bottom: 30px;
}

.thumbnail-image
{
    border-radius: 10px;
    height: 13rem;
    width: 22rem;
}

.profileTitle
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title{
    font-size: 1.1rem;
    font-weight: bold;
}

.nameticklogo
{
    /* background-color: rgb(240, 240, 240); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 30px;
    width: fit-content;
    margin-left: 30px;
    gap: ;
}

@media (max-width: 700px) {
    .leftlist {
        width: 60px;
    }
    .middlepart {
        margin-left: 60px;
        width: calc(100vw - 60px);
    }
    .upperheadlist {
        left: 60px;
        width: calc(100vw - 60px);
    }
}